# Relatório de Análise I

## Importando a Base de dados

In [11]:
import pandas as pd

In [7]:
alugueis = pd.read_csv("2_aula/dados/aluguel.csv", sep=';')

## Informações gerais sobre a Base de Dados

In [14]:
alugueis.dtypes

Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64
Valor m2         float64
Tipo Agregado     object
dtype: object

In [17]:
tipos_de_dados = pd.DataFrame(alugueis.dtypes, columns=['Tipos de dados'])
tipos_de_dados.columns.name = "Variáveis"
tipos_de_dados

Variáveis     Tipos de dados
Tipo                  object
Bairro                object
Quartos                int64
Vagas                  int64
Suites                 int64
Area                   int64
Valor                float64
Condominio           float64
IPTU                 float64
Valor m2             float64
Tipo Agregado         object

In [22]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(alugueis.shape[0], alugueis.shape[1]))

A base de dados apresenta 19831 registros (imóveis) e 11 variáveis