# Relatório de Análise I

## Importando a Base de dados

In [31]:
import pandas as pd

In [32]:
dados = pd.read_csv("2_aula/dados/aluguel.csv", sep=';')

## Informações gerais sobre a Base de Dados

In [33]:
dados.dtypes

Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64
Valor m2         float64
Tipo Agregado     object
dtype: object

In [34]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])
tipos_de_dados.columns.name = "Variáveis"
tipos_de_dados

Variáveis     Tipos de dados
Tipo                  object
Bairro                object
Quartos                int64
Vagas                  int64
Suites                 int64
Area                   int64
Valor                float64
Condominio           float64
IPTU                 float64
Valor m2             float64
Tipo Agregado         object

In [35]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 19831 registros (imóveis) e 11 variáveis

## Tipos de imóveis

In [62]:
tipo_de_imovel = dados['Tipo'].drop_duplicates()

## Organizando a visualização

In [63]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = 'Id'

In [65]:
tipo_de_imovel

Id                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete